* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 8px;
    margin: 0;
    color: aliceblue;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.box-maior {
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adicione uma sombra para destacar a caixa */
    border-radius: 7px;
    margin: auto;
}

.titulo-forms {
    display: flex;
    justify-content: center;
}

option {
    color: black;
}

hr {
    margin: 0;
}